body{
	font-family: 'PT Sans Narrow', sans-serif; 
}
.titulos{
	color: #cc0052;
	font-size: 30px;
	padding-top: 80px;
	margin-bottom: 20px;

}

.a{
	padding-top: 20px;
}
.ponto{
	cursor: pointer;
}
.menu{
	float: right;
	background-color: #a8385c;
}
.mmenu{
	background-color: #a8385c;
	border: #a8385c;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.forma{
font-family: 'PT Sans Narrow', sans-serif; 
}

.bcs{
	width: 240px;
	padding-top: 8px;
	padding-right: 5px;
}
.imgs{
	display: inline-block;
	float: left;

}

img.imgs{
	margin-top: -12px;
	padding-right: 6px;
}

#result li{
	padding: 10px 0;
	border-bottom: 1px solid #ccc dotted;
	list-style: none;
	
}

.list-left{
	float: left;
	width: 40%;
	height: 100%;
	
}

.list-left img{
	width: 100%;
	padding-top: 1px;
}
.list-right{
	width: 58%;
	float: right;
	position: relative;
	top:-18px;
	color: #cc0052;
	
}
.linha{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;

	float: left;
	display: block;
	padding-left: 10px;
	overflow-y: scroll; 
	height: 480px;
	position: relative;
}

h3{
	font-size: 14px;
	
}
.cTitle{
	font-size: 14px;
}

.bt-estilo{
	margin-top: 10px;
	width: 100%;
	background-color: #fff;
	color: #777;
	border-color: #ccc;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}
.bt-estilos{
	margin-top: 10px;
	width: 40%;
	margin: 0 auto;
	display: block;
	background-color: #fff;
	color: #777;
	border-color: #ccc;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}
#next-btns{
	display: none;
}

.icones{
	float: right;
	top:-20px;
	display: block;
	position: relative;
	right: 120px;
	color: #ccc;
}

.aload{
	text-align: center;
	margin: 0 auto;
	display: none;
}


.load{
	text-align: center;
	margin: 0 auto;
	display: none;
	
}

.linha::-webkit-scrollbar {
    width: 6px;
}
 
.linha::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff; 
    border-radius: 10px;
}
 
.linha::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.btn1{
	border-bottom:2px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
}

.video{

}
.descript{
	margin-top: 20px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-left: 18px;
	padding-right: 18px;
	min-height: 170px;
}
iframe{
	border-width: 1px;
	border-color: #ccc;
}
.titulo-home{
	color: #cc0052;
	font-size: 15px;
	font-weight: 500;
}

.paragraf{
	color: #ccc;
	padding-top: 10px;
	font-size: 12px;
}
.icones-canto{
	display: block;
	float: right;

	text-align: right;
	right: 0;
	color: #66c2ff;
	font-weight: 600;
	font-size: 16px;

}
.ic-canto{
	color: #66c2ff;	
	font-weight: 600;
	font-size: 16px;
}
.icon-bare{
	padding-left: 4px;
	color: #66c2ff;
	float: right;
	display: block;
	top: 0px;
	position: relative;
	font-size: 17px;
}
.iconn-bare{

	padding-right: 4px;
	color: #66c2ff;
	float: right;
	display: block;
	top: 0px;
	position: relative;
	font-size: 17px;

}
.remold{
		
	display: block;
	float: right;
	position: relative;
	top:-16px;
}

.esquerda{
	width: 100%;
	height: 350px;
	
	margin-bottom: 10px;
	z-index: -1;
	position: absolute;
}
.altr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.title1{
	color: #cc0052;
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 20px;
    display: none;
}

@media screen and (max-width: 1215px) {
	
	.ajuste{
				right: 10px;

	}

}
@media screen and (max-width: 779px) {
	
	.ajustebusca{
		
		width: 96%;
		margin: 0 auto;
		padding-bottom: 12px;
	
	}
	.btbusca{
		text-align: center;
	}
	.dir{
		text-align: center;
		color: #fff!important;
	}
	.esconde{
		display: none;
	}
	.dropdown-menu > li > a:hover{
		background: #fff!important;
		color: #000!important;
	}



}
.modal-content {
    position: absolute!important;
 }   
.b{
	
	max-width: 400px;
	float: left;
	display: block;
	margin-left: 6px;
	
	text-align: left;
	color: #cc0052;
	font-size: 16px;
	font-weight: 500;
}
.c{
	float: right;
color: #66c2ff;
	display: block;
	max-width: 90px;
	
	text-align: right;
	padding-right: 10px;
	font-size: 17px;
}
.cc{
	
	max-width: 490px;
	
	margin: 10px auto 20px auto;
	text-align: left;
	padding-left: 8px;
	float: left;

}

iframe{
	max-width:96%;
	margin: 0 auto; 
}

